---
export interface Props {
  title: string;
  productImage: {
      filename: string;
      alt:string;
  };
  description: string;
  itemID: string;
  itemPrice: number;
  itemWeight: number;
  itemBody: string;
}

const { title, productImage, description, itemID, itemPrice, itemWeight, itemBody} = Astro.props;
---

<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  {productImage && productImage.filename &&
    <img
    class="card-img-top rounded-0"
      src={productImage.filename}
      alt={productImage.alt}
    />
  }
  <div class="card-body">
    {title &&
      <h4 class="card-title">
        {title}
      </h4>
    }
    {itemPrice &&
      <h5>${itemPrice}</h5>
    }
    {description &&
      <p class="card-text">
        {description}
      </p>
    }
    <button class="snipcart-add-item btn btn-primary mb-2"
      data-item-id={itemID}
      data-item-price={itemPrice}
      data-item-url="{}"
      data-item-description="{}"
      data-item-image="{}"
      data-item-name="{}"
      data-item-weight="{}">
    <i class="fas fa-plus-circle me-2"></i> Add to cart</button></br>
    {itemBody &&
      <a class="btn btn-primary-outline btn-sm mb-2" href="{{ .Permalink }}">Details</a>
    }
  </div>
</article>