---
import { renderRichText } from '@storyblok/astro';

export interface Props {
  title: string;
  itemID: string;
  productImage: {
      filename: string;
      alt:string;
  };
  itemPrice: number;
  itemHeight: number;
  itemWidth: number;
  dcLink: string;
}

const { title, itemID, productImage, itemPrice, itemHeight, itemWidth, dcLink} = Astro.props;
---

<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow store-card">
  {productImage && productImage.filename &&
    <img
    class="card-img-top rounded-0"
      src={productImage.filename}
      alt={productImage.alt}
    />
  }
  <div class="card-body">
    {title &&
      <h4 class="card-title">
        {title}
      </h4>
    }
    {itemPrice &&
      <h5>{itemPrice}</h5>
    }
    { itemHeight && itemWidth &&
      <p class="card-text">Image: {itemWidth} inches wide × {itemHeight} inches high</p>
      <p class="card-text">Paper: {+itemWidth + 4} inches wide × {+itemHeight + 4} inches high</p>
    }
    <button class="snipcart-add-item btn btn-primary mb-2"
      data-item-id=`repro-${itemID}`
      data-item-price={itemPrice}
      data-item-description=`Printed reproduction of ${title}, image ${itemWidth} inches wide × ${itemHeight} inches high with 2 inch margins on all sides`
      data-item-image={productImage.filename}
      data-item-name={title}
    >
    <i class="fas fa-plus-circle me-2"></i> Add to cart</button></br>
    {dcLink &&
      <a class="btn btn-primary-outline btn-sm mb-2" href={dcLink} target="_blank">Digital Collections Record</a>
    }
  </div>
</article>