---
import { useStoryblokApi } from "@storyblok/astro";
import { fourRecentArticles } from "../../lib/utils";

const storyblokApi = useStoryblokApi()

export interface Props {
	tags: string[];
}

const { tags } = Astro.props;
const sidebar_articles = await fourRecentArticles();

---

{tags &&
  <div class="bg-white mb-5">
    <h4 class="mb-4">Tags</h4>
    <p>
      {tags.map((tag: string) => (
        <span class="badge rounded-pill bg-light text-secondary mb-1 tag-list">
          <a href=`/tags/${tag.replace(/\s+/g, '-').toLowerCase()}`>{tag}</a>
        </span>
      ))}
    </p>
  </div>
}

{sidebar_articles &&
  <div class="bg-white">
    <h4 class="mb-4">Recent Articles</h4>
    {sidebar_articles.map((article: any) => (
      <div class="d-flex mb-4">
        {article.params.headerImage && article.params.headerImage.filename &&
          <div class="flex-shrink-0">
            <a href={article.params.slug}>
              <img src={article.params.headerImage.filename} alt={`Thumbnail image for article ${article.params.name}`} class="post-thumb-sm">
            </a>
          </div>
        }
        <div class="flex-grow-1 ms-3">
          <a href=`/articles/${article.params.slug}`>
            {article.params.name &&
              <h5 class="mt-0">
                {article.params.name}
              </h5>
            }
          </a>

          {article.params.publishDate &&
            new Date(article.params.publishDate).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric'})
          }
        </div>
      </div>
    ))}
  </div>
}