---
import { getPath } from '../../lib/utils';
import { fetchPagesInFolder } from '../../lib/storyblok-fetch';

export interface Props {
  path: string;
}

interface Page {
  params: {
    name: string;
    path: string;
    hide_from_menu: boolean;
    is_startpage: boolean;
  };
}

const { path } = Astro.props
const currentPath = Astro.url.pathname.replace(/\/$/, '');

const folders = path.split('/');
let folder = folders[0];

let allPages = await fetchPagesInFolder(folder);

allPages = allPages.map((page: any) => {
  return {
    params: {
      name: page.name,
      path: `/${getPath(page.full_slug)}`,
      hide_from_menu: page.content.hide_from_menu,
      is_startpage: page.is_startpage,
    },
  }
})
let startPages = allPages.filter((page: Page) => {
    return page.params.is_startpage;
  })
  .sort((a, b) => a.params.name > b.params.name ? 1 : -1);

let menuTitle = startPages[0];

allPages = allPages.filter((page: Page) => {
  return !page.params.hide_from_menu && page.params.path!=menuTitle.params.path;
})
---
{allPages &&
  <div class="bg-white mb-5">
    {startPages.length > 0 &&
      <h5 class="mb-3 section-toplevel-link">
        <a href={menuTitle.params.path}>{menuTitle.params.name}</a>
      </h5>
    }
    <ul class="font-secondary text-secondary m-0 p-0">
      {allPages.map((page: Page) => (
        <li class="mb-2">
          {currentPath == page.params.path &&
            <i class="fas fa-arrow-right me-1"></i>
          }
          <a href={page.params.path}>{page.params.name}</a>
        </li>
      ))}
    </ul>
  </div>
}
