---
import { getPath } from '../lib/utils';
import { storyblokEditable } from '@storyblok/astro';
import EventCTA from "../components/Home/EventCTA.astro";
import ArticleCTA from "../components/Home/ArticleCTA.astro";
import HoursCTA from "../components/Home/HoursCTA.astro";
import AudiencesSection from "../components/Home/AudiencesSection.astro";
import SearchSection from "../components/Home/SearchSection.astro";
import EventsSection from "../components/Home/EventsSection.astro";
import ArticlesSection from "../components/Home/ArticlesSection.astro";
import RichText from './RichText.astro';

export interface Props {
	blok: {
    CTA: {
      link: object;
      text: string;
      badge: string;
    }[],
    Slider: {
      title: string;
      content: string;
      bg_image: object;
      button_link: object;
      button_text: string;
    }[],
    frontpageFeature: {
      enabled: boolean;
      bg_image: object;
      title: string;
      content: object;
      button_text: string;
      button_link: {
        url: string;
      };
    }[],
    upcomingLivestream: {
      enabled: boolean;
      embed_link: object;
      start_time: string;
      end_time: string;
    }[]
  };
}

const { blok } = Astro.props

let showFeature = false
let showLivestream = false

blok.frontpageFeature.forEach((feature: any) => {
  if (feature.enabled) {
    showFeature = true;
  }
});

blok.upcomingLivestream.forEach((livestream: any) => {
  if (livestream.enabled) {
    showLivestream = true;
  }
});
---

<div {...storyblokEditable(blok)}>
  {blok.Slider &&
    <section class="hero-section overlay bg-cover" id="hero-section-frontpage-slider" slot="page-header">
      <div class="swiper hero-slider">
        <div class="swiper-wrapper">
          {blok.Slider.map((slide: any) => (
            <div class="swiper-slide hero-slider-item overlay bg-cover" style={`background-image:url(${slide.bg_image.filename});`}>
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    {slide.title &&
                      <h1 class="text-white" data-swiper-parallax-x="100" data-swiper-parallax-duration="300">{slide.title}</h1>
                    }
                    {slide.content &&
                      <p class="text-white" data-swiper-parallax-x="100" data-swiper-parallax-duration="300">{slide.content}</p>
                    }
                    {(slide.button_link && slide.button_text) &&
                      <a href={getPath(slide.button_link.cached_url)} class="btn btn-sm btn-secondary hero-button">
                        {slide.button_text}
                      </a>
                    }
                  </div>
                </div>
              </div>
            </div>
          ))}
        </div>

        <div class="container">
          <div class="swiper-pagination"></div>

          <div class="prevArrow" aria-label="Previous Slide">
            <i class="fas fa-arrow-left"></i>
          </div>
          <div class="nextArrow" aria-label="Next Slide">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </section>
  }

  {showLivestream &&
    blok.upcomingLivestream.map((livestream: any) => (
    <section class="section bg-dark d-none p-4" id="livestream-section">
      <div class="container">
        <div class="row" id="streaming-now-badge"><h2 class="mx-auto"><span class="badge badge-info"><i class="fas fa-video me-2"></i>Streaming live now</span></h2></div>
            <div class="row">
              <div class="mx-auto" id="livestream-container">
            </div>
        </div>
      </div>
      <script is:inline define:vars={{ livestream }}>
      let startTime = new Date(`${livestream.start_time}`);
      let endTime = new Date(`${livestream.end_time}`);
      let n = new Date();
      console.log(n);
      console.log(startTime);
      console.log(endTime);
      console.log(eval(`{n<=endTime}`));
      if(n >= startTime && n <= endTime) {
        document.getElementById("livestream-section").classList.remove("d-none");
        document.getElementById("livestream-container").innerHTML = `${livestream.embed_link}`
      }
    </script>
    </section>
  ))}

  <section class="section py-3 cta frontpage-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 cta-popper-outer">
          <div class="cta-popper">
            <h2 class="my-3">What’s new?</h2>
          </div>
        </div>
        <div class="col-lg-9 cta-body">
          <ul>
            <EventCTA />
            <ArticleCTA />

            {blok.CTA &&
              blok.CTA.map((cta: any) => (
                <li class="mb-3">
                  <span class="badge badge-secondary bg-light font-secondary whats-new-badge">{cta.badge}</span>
                  <a href={cta.link.url}>{cta.text}</a>
                </li>
              ))
            }

            <HoursCTA />
          </ul>
        </div>
      </div>
    </div>
  </section>

  <AudiencesSection />
  <SearchSection />
  
  {showFeature &&
    blok.frontpageFeature.map((feature: any) => (
      <section class="section bg-cover frontpage-feature" style=`background-image: url(${feature.bg_image.filename})`>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-8">
              <div class="p-5 frontpage-feature-callout">
                <h3 class="section-title mb-2">{feature.title}</h3>
                {feature.content && (
                  <div class="alert-body">
                    <RichText blok={{ body: feature.content }} />
                  </div>
                )}
                <a class="btn btn-primary btn-lg" href={feature.button_link.url}>
                  <i class="ti-control-play"></i> {feature.button_text}
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
  ))}
    
  <EventsSection />
  <ArticlesSection />
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination, EffectFade, Parallax } from 'swiper/modules';

  new Swiper('.hero-slider', {
    modules: [Navigation, Pagination, EffectFade, Parallax],
    parallax: true,
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    loop: true,
    autoplay: {
      delay: 7500,
    },
    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.nextArrow',
      prevEl: '.prevArrow',
    },
  });
</script>
