---
import { storyblokEditable } from '@storyblok/astro';
import EventCTA from "../components/Home/EventCTA.astro";
import ArticleCTA from "../components/Home/ArticleCTA.astro";
import HoursCTA from "../components/Home/HoursCTA.astro";
import AudiencesSection from "../components/Home/AudiencesSection.astro";
import SearchSection from "../components/Home/SearchSection.astro";
import EventsSection from "../components/Home/EventsSection.astro";
import ArticlesSection from "../components/Home/ArticlesSection.astro";

export interface Props {
	blok: {
    CTA: {
      link: object;
      text: string;
      badge: string;
    }[],
    Slider: {
      title: string;
      content: string;
      bg_image: object;
      button_link: object;
      button_text: string;
    }[],
  };
}

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)}>
  {blok.Slider &&
    <section class="hero-section overlay bg-cover" id="hero-section-frontpage-slider" slot="page-header">
      <div class="swiper hero-slider">
        <div class="swiper-wrapper">
          {blok.Slider.map((slide: any) => (
            <div class="swiper-slide hero-slider-item overlay bg-cover" style={`background-image:url(${slide.bg_image.filename});`}>
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    {slide.title &&
                      <h1 class="text-white" data-swiper-parallax-x="100" data-swiper-parallax-duration="300">{slide.title}</h1>
                    }
                    {slide.content &&
                      <p class="text-white" data-swiper-parallax-x="100" data-swiper-parallax-duration="300">{slide.content}</p>
                    }
                    {(slide.button_link && slide.button_text) &&
                      <a href={slide.button_link} class="btn btn-sm btn-secondary hero-button">
                        {slide.button_text}
                      </a>
                    }
                  </div>
                </div>
              </div>
            </div>
          ))}
        </div>

        <div class="container">
          <div class="swiper-pagination"></div>

          <div class="prevArrow" aria-label="Previous Slide">
            <i class="fas fa-arrow-left"></i>
          </div>
          <div class="nextArrow" aria-label="Next Slide">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </section>
  }

  <section class="section py-3 cta frontpage-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 cta-popper-outer">
          <div class="cta-popper">
            <h2 class="my-3">What’s new?</h2>
          </div>
        </div>
        <div class="col-lg-9 cta-body">
          <ul>
            <EventCTA />
            <ArticleCTA />

            {blok.CTA &&
              blok.CTA.map((cta: any) => (
                <li class="mb-3">
                  <span class="badge badge-secondary bg-light font-secondary whats-new-badge">{cta.badge}</span>
                  <a href={cta.link.url}>{cta.text}</a>
                </li>
              ))
            }

            <HoursCTA />
          </ul>
        </div>
      </div>
    </div>
  </section>

  <AudiencesSection />
  <SearchSection />
  <EventsSection />
  <ArticlesSection />
</div>

<script>
  import Swiper from 'swiper';
  import { Navigation, Pagination, EffectFade, Parallax } from 'swiper/modules';

  new Swiper('.hero-slider', {
    modules: [Navigation, Pagination, EffectFade, Parallax],
    parallax: true,
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },
    loop: true,
    autoplay: {
      delay: 7500,
    },
    pagination: {
      clickable: true,
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.nextArrow',
      prevEl: '.prevArrow',
    },
  });
</script>
