---
export interface Props {
	thumbnail: {
    filename: string;
    alt: string;
  };
	name: string;
	date: string;
	tags: string[];
	href: string;
}

const { thumbnail, name, date, tags, href } = Astro.props;
---

<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative">
    {thumbnail && thumbnail.filename &&
      <img
      class="card-img-top rounded-0"
        src={thumbnail.filename}
        alt={thumbnail.alt}
      />
    }
    {date &&
      <div class="card-date">
        <span>{new Date(date).getDate()}</span><br>
        {new Date(date).toLocaleString('en-US', { month: 'long' })}
      </div>
    }
  </div>
  <div class="card-body">
    {name &&
      <h3 class="h4 card-title">
        <a href={href}>
          {name}
        </a>
      </h3>
    }
    {tags &&
      <ul class="d-flex flex-wrap p-0">
        {tags.map((tag: string) => (
          <li>
            <span class="badge rounded-pill bg-light text-secondsry mb-1 tag-list">
              {tag}
            </span>
          </li>
        ))}
      </ul>
    }
  </div>
</div>
