---
import Card from '../../components/Event/Card.astro';
import { fetchEvents } from '../../lib/storyblok-fetch';

interface Event {
  params: {
    slug: string;
    headerImage: {
      filename: string;
      alt: string;
    };
    name: string;
    eventDate: string;
    tags: string[];
  };
}

const stories = await fetchEvents({ limit: 3 });

const events = stories.map((event: any) => {
  return {
    params: {
      name: event.name,
      slug: event.slug,
      headerImage: event.content.headerImage,
      eventDate: event.content.eventDate,
      tags: event.content.tags,
    },
  }
})
---

{events &&
  <section class="section pt-0">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="border-bottom border-primary"></div>
      </div>
      <div class="col-12">
        <h3 class="section-title">More events</h3>
      </div>
    </div>
    <div class="row">
      {events.map((event: Event) => (
        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
          <Card href={`/event/${event.params.slug}`} thumbnail={event.params.headerImage} name={event.params.name} date={event.params.eventDate} tags={event.params.tags} />
        </div>
      ))}
    </div>
  </section>
}
