---
import { getPath } from '../lib/utils';
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Layout/Sidebar.astro';
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { fetchStandardPages, fetchStoryByPath } from "../lib/storyblok-fetch";

export async function getStaticPaths() {
  const allPages = await fetchStandardPages();

  return allPages.map((page: any) => {
    return {
      params: {
        path: getPath(page.full_slug),
      },
    };
  });
}

const { path } = Astro.params;

const page = await fetchStoryByPath(`main-site/${path}`);
---

<Layout title={`${page.name}`} subheading={`${page.content.page_description ? page.content.page_description : ''}`} image={`${page.content.header_img && page.content.header_img.filename}`}>
  <section class="section-sm">
    <div class="row">
      <div class={`${!page.content.hide_sidebar ? 'col-lg-8 order-1 order-lg-1' : 'col-12'}`}>
        <div class="row">
          <div class="col-12 mb-5 content">
            <StoryblokComponent name={page.name} blok={page.content} />
          </div>
        </div>
      </div>

      {!page.content.hide_sidebar &&      
        <aside class="col-lg-4 order-2 order-lg-2 section-sidebar">
          <Sidebar path={path} />
        </aside>
      }
    </div>
  </section>
</Layout>
