---
import { getPath } from '../../lib/utils';
import { fetchStory } from '../../lib/storyblok-fetch';

export interface Props {
	uuid: string;
}

const { uuid } = Astro.props;

let page = await fetchStory(uuid);
---


<a href=`/${getPath(page.full_slug)}` class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0 page-card">
  {page.content.header_img && 
    <img class="card-img-top rounded-0" src={page.content.header_img.filename} alt={page.name}>
  }
  <div class="card-body">
    <h3 class="card-title not-content">{page.name}</h3>
    {page.content.page_description && 
      <p class="card-text">{page.content.page_description}</p>
    }
  </div>
</a>
