---
import { SEO } from "astro-seo";
import "../../public/styles.scss";

interface Props {
  title: string;
  description: string;
  image: string;
  noindex: boolean;
}

const { title, description, image, noindex } = Astro.props;

const siteTitle = "Leventhal Map &amp; Education Center at the Boston Public Library";
const siteImage =
	"https://fedora.digitalcommonwealth.org/fedora/objects/commonwealth:3f463530h/datastreams/thumbnail300/content";

const metaTitle = title ? `${title} - ${siteTitle}` : `${siteTitle}`;
const metaDescription = description ? description : null;
const metaImage = image ? image : siteImage;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={metaTitle}
			description={metaDescription}
			noindex={noindex}
			openGraph={{
				basic: {
				title: `${metaTitle}`,
				type: "website",
				image: `${metaImage}`,
				},
			}}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
