---
import { SEO } from "astro-seo";
import Header from "../components/Layout/Header.astro";
import PageHeader from "../components/Layout/PageHeader.astro";
import Footer from "../components/Layout/Footer.astro";
import "../styles/styles.scss";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  subheading?: string;
  pill?: string;
  noindex?: boolean;
}

const { title, description, image, subheading, pill, noindex } = Astro.props;

const siteTitle = "Leventhal Map &amp; Education Center at the Boston Public Library";
const siteImage = "https://ark.digitalcommonwealth.org/ark:/50959/3f463529r/thumbnail";

const metaTitle = title ? `${title} - ${siteTitle}` : `${siteTitle}`;
const metaDescription = description ? description : "";
const metaImage = image ? image : siteImage;

const socialLinks = [
	{
		href: 'https://facebook.com/bplmaps',
		icon: 'fab fa-facebook',
	},
	{
		href: 'https://bsky.app/profile/bplmaps.bsky.social',
		icon: 'fab fa-bluesky',
	},
	{
		href: 'https://instagram.com/bplmaps',
		icon: 'fab fa-instagram',
	},
	{
		href: 'https://www.youtube.com/c/LeventhalMapEducationCenter',
		icon: 'fab fa-youtube',
	},
	{
		href: 'https://www.flickr.com/photos/normanbleventhalmapcenter',
		icon: 'fab fa-flickr',
	},
	{
		href: 'https://github.com/bplmaps',
		icon: 'fab fa-github',
	},
	{
		href: 'https://mapstodon.space/@bplmaps',
		icon: 'fab fa-mastodon',
	},
];

const menuLinks = [
	{
		text: 'Exhibitions',
		href: '/exhibitions',
	},
	{
		text: 'Collections',
		href: '/collections',
	},
	{
		text: 'Education',
		href: '/education',
	},
	{
		text: 'Research',
		href: '/research',
	},
	{
		text: 'Projects',
		href: '/projects',
	},
	{
		text: 'About',
		href: '/about',
	},
];

const secondaryMenuLinks = [
	{
		text: 'Events',
		href: '/event',
	},
	{
		text: 'Articles',
		href: '/articles',
	},
	{
		text: 'Contact Us',
		href: '/about/contact-connect',
	},
	{
		text: 'Donate Now',
		href: '/donate',
	},
	{
		text: 'Hours & Directions',
		href: '/about/hours-directions',
	},
	{
		text: 'Mission & History',
		href: '/about/mission-history',
	},
	{
		text: 'Accessibility',
		href: '/accessibility',
	},
	{
		text: 'Privacy Policy',
		href: '/privacy',
	},
	{
		text: 'BPL.org',
		href: 'https://bpl.org/',
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="generator" content={Astro.generator} />
		<meta name="facebook-domain-verification" content="6q0qb8ylcx1vtfy18bpgaplv3mcwlp" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Google Tag Manager -->
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		</script>
		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PH5B9T8');</script>
		<!-- End Google Tag Manager -->
		<!-- Fundraise Up: world-class checkout experience for serious online fundraising -->
		<script is:inline>(function (w, d, s, n, a) {
		if (!w[n]) {
			var l = 'call,catch,on,once,set,then,track'
			.split(','), i, o = function (n) {
				return 'function' == typeof n ? o.l.push([arguments]) && o
				: function () { return o.l.push([n, arguments]) && o }
			}, t = d.getElementsByTagName(s)[0],
			j = d.createElement(s); j.async = !0; j.src = 'https://cdn.fundraiseup.com/widget/' + a;
			t.parentNode.insertBefore(j, t); o.s = Date.now(); o.v = 4; o.h = w.location.href; o.l = [];
			for (i = 0; i < 7; i++)o[l[i]] = o(l[i]); w[n] = o
		}
		})(window, document, 'script', 'FundraiseUp', 'AGBYXHFF');</script>
		<!-- End Fundraise Up -->
		<SEO
			title={metaTitle}
			description={metaDescription}
			noindex={noindex}
			openGraph={{
				basic: {
				title: `${metaTitle}`,
				type: "website",
				image: `${metaImage}`,
				url: "https://leventhalmap.org/"
				},
			}}
			canonical="https://leventhalmap.org/"
			extend={{
				link: [
					{ rel: "shortcut icon", href: "/favicon.png", type: "image/x-icon" },
					{ rel: "icon", href: "/favicon.png", type: "image/x-icon" },
				],
				meta: [
					{ name: "facebook-domain-verification", content: "6q0qb8ylcx1vtfy18bpgaplv3mcwlp" },
				],
			}}
		/>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH5B9T8"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header socialLinks={socialLinks} menuLinks={menuLinks} />
		<slot name="root">
			<PageHeader heading={title} paneltruckLayout={true} image={image} subheading={subheading} pill={pill} />
		</slot>
		<slot name="giftstore" />
		<div class="container">
			<slot />
		</div>
		<Footer socialLinks={socialLinks} leftMenuLinks={menuLinks} rightMenuLinks={secondaryMenuLinks} />

		<script src="../scripts/app.js"></script>
	</body>
</html>
